.App {
  text-align: center;
}

.card {
  margin: 2vw;
}

.chat-view {
  border: 1px solid black;
  background-color: #FDEEDC;
}

.friends-list {
  list-style-type: none;
  text-align: left;
  margin-top: 1vw;
  border-radius: 5%;
  padding: 0;
  height: 60vh;
  overflow-y: scroll;
  font-weight: bold;
}

ul li:last-child {
  border-bottom: none
}

.friends-list-column {
  border: 1px solid black;
  background-color: #FFD8A9;
}

.friend-name {
  padding: 5%;
}

.friend-name {
  padding: 5%;
}

#inputUsername {
  margin-bottom: 5%;
  margin-top: 5%;
}

.input-message{
  width: 75%;
  display: inline;
  margin: 0;
}

li:hover {
  cursor:pointer;
}

.login-form {
  background-color: aqua;
}

.message {
  width: fit-content;
}

.message-content {
  height: 50vh;
  width: 39vw;
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-send-button {
  margin-bottom: 1%;
  margin-left: 1%;
}

.send-message-ui {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
}

.username {
  font-weight: bold;
}

